.calendarGrid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin-top: 8%;
}

.weekdays {
  text-align: center;
}

.allGridDays {
  vertical-align: text-top;
  text-align: left;

  height: 70px;
  width: 140px;
  padding: 1px;
  margin: -9px;
  background-color: #d3d3d3;
}

.daysGridToday {
  border: solid;
  border-width: 2px;

  height: 66px;
  width: 136px;

  border-color: black;
}
